body {
    font-family: Arial;
    background: linear-gradient(135deg, #8a8a86, #e4dbcd);
 
    margin: 0;
    height: 100vh;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    background: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

h1, h2 {
    text-align: center;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    margin: 5px;
    background-color: #2c3e50; 
}

.add { background: rgb(50, 156, 50); }
.update { background: rgb(202, 139, 21); }
.delete { background: rgb(172, 40, 40); }

.btn:hover {
    opacity: 0.8;
}

table {
    width: 70% ;         
    margin: 20px auto ;   
    border-collapse: collapse;

}

table, th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
.home-btn {
    background: linear-gradient(135deg, #17181b, #0c0118);
    font-weight: bold;
    margin-right:800px;
}

.home-btn:hover {
    transform: scale(1.1);
}